ENV=local

GENERAL_HTTP_SECURE=false
OFFICE_HTTP_SECURE=true

GENERAL_OAUTH2_RESOURCE_JWT_ISSUER_LOCATION=https://securetoken.google.com/pcreeper-7e9fb
OFFICE_OAUTH2_RESOURCE_JWT_JWKS_URI=http://127.0.0.1:8087/oauth2/jwks

GENERAL_SERVICE_REGISTRY_SERVER_IP_ADDRESS=127.0.0.1
GENERAL_SERVICE_REGISTRY_SERVER_HOSTNAME=GENERAL-SERVICE-REGISTRY
GENERAL_SERVICE_REGISTRY_SERVER_PORT=8081
GENERAL_SERVICE_REGISTRY_SECURITY_USERNAME=admin
GENERAL_SERVICE_REGISTRY_SECURITY_PASSWORD=admin

GENERAL_CONFIG_MAPPING_SERVER_HOSTNAME=GENERAL-CONFIG-MAPPING
GENERAL_CONFIG_MAPPING_SERVER_PORT=8082
GENERAL_CONFIG_MAPPING_GRPC_PORT=9090
GENERAL_CONFIG_MAPPING_GIT_URI=https://github.com/1pcreeper/1pcreeper-config
GENERAL_CONFIG_MAPPING_SECURITY_USERNAME=admin
GENERAL_CONFIG_MAPPING_SECURITY_PASSWORD=admin

GENERAL_API_GATEWAY_SERVER_HOSTNAME=GENERAL-API-GATEWAY
GENERAL_API_GATEWAY_SERVER_PORT=8080
GENERAL_API_GATEWAY_GRPC_PORT=9091
GENERAL_API_GATEWAY_CORS_ALLOWED_ORIGINS=http://localhost:3000
GENERAL_API_GATEWAY_CONTEXT_PATH=/api/v1

GENERAL_ACCOUNT_SERVICE_SERVER_HOSTNAME=GENERAL-ACCOUNT-SERVICE
GENERAL_ACCOUNT_SERVICE_SERVER_PORT=8083
GENERAL_ACCOUNT_SERVICE_GRPC_PORT=9092
GENERAL_ACCOUNT_SERVICE_DATASOURCE_DB_URL=localhost
GENERAL_ACCOUNT_SERVICE_DATASOURCE_DB_PORT=5432
GENERAL_ACCOUNT_SERVICE_DATASOURCE_DB_SCHEMA=general_account_db
GENERAL_ACCOUNT_SERVICE_DATASOURCE_USERNAME=postgres
GENERAL_ACCOUNT_SERVICE_DATASOURCE_PASSWORD=admin
GENERAL_ACCOUNT_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
GENERAL_ACCOUNT_SERVICE_CORS_ALLOWED_ORIGINS=http://localhost:3000

GENERAL_OBJ_GENERATE_SERVICE_SERVER_HOSTNAME=GENERAL-OBJ-GENERATE-SERVICE
GENERAL_OBJ_GENERATE_SERVICE_SERVER_PORT=10001
GENERAL_OBJ_GENERATE_SERVICE_GRPC_PORT=20001
GENERAL_OBJ_GENERATE_SERVICE_DATASOURCE_DB_URL=localhost
GENERAL_OBJ_GENERATE_SERVICE_DATASOURCE_DB_PORT=5432
GENERAL_OBJ_GENERATE_SERVICE_DATASOURCE_DB_SCHEMA=general_obj_generate_db
GENERAL_OBJ_GENERATE_SERVICE_DATASOURCE_USERNAME=postgres
GENERAL_OBJ_GENERATE_SERVICE_DATASOURCE_PASSWORD=admin
GENERAL_OBJ_GENERATE_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
GENERAL_OBJ_GENERATE_SERVICE_CORS_ALLOWED_ORIGINS=http://localhost:3000

OFFICE_SERVICE_REGISTRY_SERVER_IP_ADDRESS=127.0.0.1
OFFICE_SERVICE_REGISTRY_SERVER_HOSTNAME=OFFICE-SERVICE-REGISTRY
OFFICE_SERVICE_REGISTRY_SERVER_PORT=8084
OFFICE_SERVICE_REGISTRY_SECURITY_USERNAME=admin
OFFICE_SERVICE_REGISTRY_SECURITY_PASSWORD=admin

OFFICE_CONFIG_MAPPING_SERVER_HOSTNAME=OFFICE-CONFIG-MAPPING
OFFICE_CONFIG_MAPPING_SERVER_PORT=8085
OFFICE_CONFIG_MAPPING_GRPC_PORT=9093
OFFICE_CONFIG_MAPPING_CONFIG_FILE='E:\1pcreeper\projects\001 Project\codes\v001\1pcreeper\data\local\office\bk\config-mapping\config'
OFFICE_CONFIG_MAPPING_SECURITY_USERNAME=admin
OFFICE_CONFIG_MAPPING_SECURITY_PASSWORD=admin

OFFICE_API_GATEWAY_SERVER_HOSTNAME=OFFICE-API-GATEWAY
OFFICE_API_GATEWAY_SERVER_PORT=8086
OFFICE_API_GATEWAY_GRPC_PORT=9094
OFFICE_API_GATEWAY_CORS_ALLOWED_ORIGINS=https://localhost:3001
OFFICE_API_GATEWAY_CONTEXT_PATH=/api/v1

OFFICE_ACCOUNT_SERVICE_SERVER_HOSTNAME=OFFICE-ACCOUNT-SERVICE
OFFICE_ACCOUNT_SERVICE_SERVER_PORT=8087
OFFICE_ACCOUNT_SERVICE_GRPC_PORT=9095
OFFICE_ACCOUNT_SERVICE_DATASOURCE_DB_URL=localhost
OFFICE_ACCOUNT_SERVICE_DATASOURCE_DB_PORT=5432
OFFICE_ACCOUNT_SERVICE_DATASOURCE_DB_SCHEMA=office_account_db
OFFICE_ACCOUNT_SERVICE_DATASOURCE_USERNAME=postgres
OFFICE_ACCOUNT_SERVICE_DATASOURCE_PASSWORD=admin
OFFICE_ACCOUNT_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
OFFICE_ACCOUNT_SERVICE_CORS_ALLOWED_ORIGINS=https://localhost:3001
OFFICE_ACCOUNT_SERVICE_JWT_SECRET=adminadminadmin
OFFICE_ACCOUNT_SERVICE_JWT_EXPIRATION_MILLIS=999999999


OFFICE_WORKFORCE_SERVICE_SERVER_HOSTNAME=OFFICE-WORKFORCE-SERVICE
OFFICE_WORKFORCE_SERVICE_SERVER_PORT=10000
OFFICE_WORKFORCE_SERVICE_GRPC_PORT=20000
OFFICE_WORKFORCE_SERVICE_DATASOURCE_DB_URL=localhost
OFFICE_WORKFORCE_SERVICE_DATASOURCE_DB_PORT=5432
OFFICE_WORKFORCE_SERVICE_DATASOURCE_DB_SCHEMA=office_workforce_db
OFFICE_WORKFORCE_SERVICE_DATASOURCE_USERNAME=postgres
OFFICE_WORKFORCE_SERVICE_DATASOURCE_PASSWORD=admin
OFFICE_WORKFORCE_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
OFFICE_WORKFORCE_SERVICE_CORS_ALLOWED_ORIGINS=https://localhost:3001
OFFICE_WORKFORCE_SERVICE_JWT_EXPIRATION_MILLIS=999999999

OFFICE_EXPENDITURE_SERVICE_SERVER_HOSTNAME=OFFICE-EXPENDITURE-SERVICE
OFFICE_EXPENDITURE_SERVICE_SERVER_PORT=10002
OFFICE_EXPENDITURE_SERVICE_GRPC_PORT=20002
OFFICE_EXPENDITURE_SERVICE_DATASOURCE_DB_URL=localhost
OFFICE_EXPENDITURE_SERVICE_DATASOURCE_DB_PORT=5432
OFFICE_EXPENDITURE_SERVICE_DATASOURCE_DB_SCHEMA=office_expenditure_db
OFFICE_EXPENDITURE_SERVICE_DATASOURCE_USERNAME=postgres
OFFICE_EXPENDITURE_SERVICE_DATASOURCE_PASSWORD=admin
OFFICE_EXPENDITURE_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
OFFICE_EXPENDITURE_SERVICE_CORS_ALLOWED_ORIGINS=https://localhost:3001
OFFICE_EXPENDITURE_SERVICE_JWT_EXPIRATION_MILLIS=999999999

GENERAL_DUMMY_SERVICE_SERVER_HOSTNAME=GENERAL-DUMMY-SERVICE
GENERAL_DUMMY_SERVICE_SERVER_PORT=8088
GENERAL_DUMMY_SERVICE_GRPC_PORT=9096
GENERAL_DUMMY_SERVICE_DATASOURCE_DB_URL=localhost
GENERAL_DUMMY_SERVICE_DATASOURCE_DB_PORT=5432
GENERAL_DUMMY_SERVICE_DATASOURCE_DB_SCHEMA=general_dummy_db
GENERAL_DUMMY_SERVICE_DATASOURCE_USERNAME=postgres
GENERAL_DUMMY_SERVICE_DATASOURCE_PASSWORD=admin
GENERAL_DUMMY_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
GENERAL_DUMMY_SERVICE_CORS_ALLOWED_ORIGINS=http://localhost:3000

OFFICE_DUMMY_SERVICE_SERVER_HOSTNAME=OFFICE-DUMMY-SERVICE
OFFICE_DUMMY_SERVICE_SERVER_PORT=8089
OFFICE_DUMMY_SERVICE_GRPC_PORT=9097
OFFICE_DUMMY_SERVICE_DATASOURCE_DB_URL=localhost
OFFICE_DUMMY_SERVICE_DATASOURCE_DB_PORT=5432
OFFICE_DUMMY_SERVICE_DATASOURCE_DB_SCHEMA=office_dummy_db
OFFICE_DUMMY_SERVICE_DATASOURCE_USERNAME=postgres
OFFICE_DUMMY_SERVICE_DATASOURCE_PASSWORD=admin
OFFICE_DUMMY_SERVICE_JPA_TIMEZONE=Asia/Hong_Kong
OFFICE_DUMMY_SERVICE_CORS_ALLOWED_ORIGINS=https://localhost:3001
OFFICE_DUMMY_SERVICE_JWT_EXPIRATION_MILLIS=999999999

