HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!user_gateway_service/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr
.idea/workspace.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/

### Python ###
**/__pycache__/
.venv/
.eggs/
**/.mypy_cache/
**/*.pyc
**/*.pyo
**/*.pyd

### Project ###
.env/**
/secret
/data/local
/data/prod
